# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment files
.env
.env.*

# VSCode
.vscode/

# Node (Astro frontend)
node_modules/
dist/
build/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
