---
import Layout from '../layouts/Layout.astro';
import AssessmentForm from '../components/AssessmentForm';
---

<Layout title="Assessment">
  <div class="min-h-screen bg-white font-sans">
    <!-- Map Section (Astro Island for React component) -->
    <div class="w-full bg-white-200 relative">
      <AssessmentForm client:load />
    </div>
  </div>
</Layout>
