---
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="Home">
  <main>
    <!-- Your content goes here -->
  </main>
</BaseLayout>

<style>
  main {
    min-height: calc(100vh - 83px);
    padding: 2rem;
  }
</style>
