---
// src/pages/test.astro
import ToolResults from '../components/ToolResults.astro';
---

<html>
  <head>
    <title>Result</title>
  </head>
  <body>
    <h1>Component prototype</h1>
    <ToolResults sessionId="00000000-0000-0000-0000-000000000002" />
  </body>
</html>
